**Multiple Linear Regression**: - Multiple linear regression is an extension of Simple Linear regression as it takes more than one **predictor variable** to predict the response variable.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r"E:\Machine Leaning\multiple_Linear_Regression.csv")

In [5]:
df.head(3)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0

In [14]:
df.rename(columns={'Performance Index':'Predicted score'},inplace = True)

In [6]:
df.shape

(10000, 6)

In [17]:
x = df[['Hours Studied', 'Previous Scores','Sleep Hours', 'Sample Question Papers Practiced']]
x.head(3)

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced
0,7,99,9,1
1,4,82,4,2
2,8,51,7,2

In [19]:
y = df[['Predicted score']]
y.head(3)

   Predicted score
0             91.0
1             65.0
2             45.0